{% extends 'base.html'%} {% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> 
{% endblock %} {% endblock%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the most unbiased News source page</title>
    {% endif %}
</head>

<!-- Content block -->
{% block content %}

<div class="container">
    <form>
        <input type="text" name="news_query" placeholder="Search for News" class="form-control">
        <input type="submit" value="Submit" class="btn btn-default">
    </form>

</div>

<body>
    <!-- News Sources -->
    <h1 style="text-align: center; color:red; font-weight:bold"> NEWS SOURCES</h3>
    <ul>
        {{ displayNewsSourcesList(news_sources)}}
    </ul>
    
    

</body>

</html>