{% macro displaySourcesList(news_sources) %} {% for source in news_sources %}
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 source-card">
    <a href="/articles/{{source.source_id}}">
        <h3 style="font-weight:bold">{{ source.name}}</h3>
    </a>
    <br>
    <div class="well" style="height:200px">
        <p style="font-weight:bold">{{ source.description|truncate(200)}}</p>
</div>

{% endfor %} {% endmacro %}

<!-- Displaying articles macro -->
{% macro displayNewsarticles(source_and_articles) %} {% for article in source_and_articles %}
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 article-card">
    <div class="well" style="height:200px">
        <img src="{{article.urlToImage}}" alt="IMAGE NOT FOUND" style="width:150px;height:150px; float:left">
        <h3 style="margin-top:-10px">{{article.title}}</h3>
        <p style="font-weight:bold;margin-left:50px">{{ article.description|truncate(100)}}</p>
        <a href="{{article.url}}">
            <p>Read more...</p>
        </a>
        <br>
        <footer style="font-weight:bolder">Published: {{article.publishedAt}}</footer>
    </div>
</div>
{% endfor %} {% endmacro %}